if TARGET_MESON_G12A

config SYS_CPU
	string
	default "armv8"

config SYS_BOARD
	string
	default "atr_01_v1"

config SYS_VENDOR
	string
	default "leftymods"

config SYS_SOC
	string
	default "sm1"

config SYS_CONFIG_NAME
	default "atr_01_v1"

endif
